Repository RobertTheDev/caroo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint '**/*.scss'

.lintstagedrc.json:

{
  "*.{ts,html}": ["eslint --fix"],
  "*.{json,css,scss,less,md,ts,html}": ["prettier --write"],
  "**/*.scss": ["stylelint '**/*.scss'"]
}

feat: created and set up page layout
  src/app/app.component.html
  src/app/app.component.ts
  src/app/layout/footer/footer.component.html
  src/app/layout/footer/footer.component.scss
  src/app/layout/footer/footer.component.spec.ts
  src/app/layout/footer/footer.component.ts
  src/app/layout/header/header.component.html
  src/app/layout/header/header.component.scss
  src/app/layout/header/header.component.spec.ts
  src/app/layout/header/header.component.ts
  src/app/layout/layout.module.ts
  src/app/layout/page-layout/page-layout.component.html
  src/app/layout/page-layout/page-layout.component.scss
  src/app/layout/page-layout/page-layout.component.spec.ts
  src/app/layout/page-layout/page-layout.component.ts
Due: eslint --fix, prettier --write, stylelint '**/*.scss'

feat: created app modules
  src/app/auth/auth.module.ts
  src/app/car-request/car-request.module.ts
  src/app/car/car.module.ts
  src/app/info/info.module.ts
  src/app/not-found/not-found.module.ts
  src/app/profile/profile.module.ts
  src/app/saved-car/saved-car.module.ts
Due: eslint --fix, prettier --write

feat: created header and footer content
  src/app/layout/footer/footer.component.html
  src/app/layout/header/header.component.html
Due: eslint --fix, prettier --write

feat: created car interface
  src/app/interfaces/car/Car.ts
Due: eslint --fix, prettier --write

feat: created cars data
  src/app/data/carsData.ts
Due: eslint --fix, prettier --write

feat: created car card component
  src/app/car/car-card/car-card.component.html
  src/app/car/car-card/car-card.component.scss
  src/app/car/car-card/car-card.component.spec.ts
  src/app/car/car-card/car-card.component.ts
Due: eslint --fix, prettier --write, stylelint '**/*.scss'

feat: created car module
  src/app/car/car.module.ts
Due: eslint --fix, prettier --write

style: added default image styles
  src/styles.scss
Due: prettier --write, stylelint '**/*.scss'

feat: mapped cars data
  src/app/app.component.html
  src/app/app.component.ts
Due: eslint --fix, prettier --write

feat: added car images
  .gitignore
Due: none

feat: installed font awesome
  package-lock.json
  package.json
Due: prettier --write

feat: set up app constants
  src/app/lib/constants/companyName.ts
  src/app/lib/constants/currentYear.ts
Due: eslint --fix, prettier --write

feat: created header profile menu component
  src/app/layout/header-profile-menu/header-profile-menu.component.html
  src/app/layout/header-profile-menu/header-profile-menu.component.spec.ts
  src/app/layout/header-profile-menu/header-profile-menu.component.ts
Due: eslint --fix, prettier --write

feat: created footer links
  src/app/layout/footer/footer.component.html
  src/app/layout/footer/footer.component.ts
Due: eslint --fix, prettier --write

feat: added header icons
  src/app/layout/header/header.component.html
  src/app/layout/header/header.component.ts
Due: eslint --fix, prettier --write

style: added page layout styles
  src/app/layout/page-layout/page-layout.component.html
Due: eslint --fix, prettier --write

feat: added layout components
  src/app/layout/layout.module.ts
Due: eslint --fix, prettier --write

style: created styles
  src/app/layout/footer/footer.component.scss
  src/app/layout/header-profile-menu/header-profile-menu.component.scss
  src/app/layout/header/header.component.scss
  src/app/layout/page-layout/page-layout.component.scss
  src/styles.scss
Due: prettier --write, stylelint '**/*.scss'

feat: created sign in component
  src/app/auth/sign-in-form/sign-in-form.component.html
  src/app/auth/sign-in-form/sign-in-form.component.spec.ts
  src/app/auth/sign-in-form/sign-in-form.component.ts
Due: eslint --fix, prettier --write

feat: created sign up component
  src/app/auth/sign-up-form/sign-up-form.component.html
  src/app/auth/sign-up-form/sign-up-form.component.spec.ts
  src/app/auth/sign-up-form/sign-up-form.component.ts
Due: eslint --fix, prettier --write

feat: created header profile menu component
  src/app/layout/header-profile-menu/header-profile-menu.component.html
  src/app/layout/header-profile-menu/header-profile-menu.component.ts
Due: eslint --fix, prettier --write

feat: added ng optimized image
  src/app/car/car-card/car-card.component.html
  src/app/car/car.module.ts
Due: eslint --fix, prettier --write

feat: defined auth routes
  src/app/auth/auth.routes.ts
Due: eslint --fix, prettier --write

feat: added auth components
  src/app/auth/auth.module.ts
Due: eslint --fix, prettier --write

feat: added router outlet
  src/app/app.component.html
Due: eslint --fix, prettier --write

feat: added auth routes
  src/app/app.routes.ts
Due: eslint --fix, prettier --write

style: created styles
  src/app/auth/sign-in-form/sign-in-form.component.scss
  src/app/auth/sign-up-form/sign-up-form.component.scss
  src/app/car/car-card/car-card.component.scss
  src/app/layout/header-profile-menu/header-profile-menu.component.scss
Due: prettier --write, stylelint '**/*.scss'
